<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}" type="text/javascript" rel="script"></script>
    <link href="{{ url_for('static', filename='css/elephant.css') }}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='AMMICLOG.BMP') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='AMMICLOG.BMP') }}" type="image/x-icon">


</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-bordered" >
                <tbody>
                    <tr>
                        <td style="text-align: right">作者：</td>
                        <td>AMMIC业务三课-赵加响</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">邮箱：</td>
                        <td>zhaojiaxiang@ammic.com.cn</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">系统维护：</td>
                        <td>AMMIC业务三课</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">技术：</td>
                        <td>Python3.7、Flask、Bootstrap4.0、MySql5.7、JavaScript、Ajax</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">开发工具：</td>
                        <td>PyCharm</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">服务器地址：</td>
                        <td>192.168.80.140</td>
                    </tr>
                    <tr>
                        <td style="text-align: right">涉及插件：</td>
                        <td>CKeditor4.11、jsPdf、html2canvas、Awesome、fileinput</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ele-container">
        <div class="ele-wrapper">
        <div class="ele-tail">
        </div>
        <div class="ele-body">
          <div class="ele-head">
            <div class="ele-eyebrows"></div>
            <div class="ele-eyes"></div>
            <div class="ele-mouth"></div>
            <div class="ele-fang-front"></div>
            <div class="ele-fang-back"></div>
            <div class="ele-ear"></div>
          </div>
        </div>
        <div class="ele-leg-1 ele-leg-back">
          <div class="ele-foot"></div>
        </div>
        <div class="ele-leg-2 ele-leg-front">
          <div class="ele-foot"></div>
        </div>
        <div class="ele-leg-3 ele-leg-back">
          <div class="ele-foot"></div>
        </div>
        <div class="ele-leg-4 ele-leg-front">
          <div class="ele-foot"></div>
        </div>
      </div>
    </div>
</body>
</html>
