<!DOCTYPE html>
<html>
<link>
    <title>{% block titleblock %}{{title|default}}{% endblock titleblock %}</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}" type="text/javascript" rel="script"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/holder.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}" type="text/javascript" rel="script"></script>
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap-table.js') }}" type="text/javascript" rel="script"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='AMMICLOG.BMP') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='AMMICLOG.BMP') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand disabled" style="color: white; padding: 0px;"><img src="{{ url_for('static', filename='ammic.ico') }}" style="height: 40px;width: 40px; padding: 0px"/></a>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="nav navbar-nav" >
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.file_search') }}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.send_email') }}">Send Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href=""id="navbardrop" data-toggle="dropdown">{{ current_user.name }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for("auth.personal", username=current_user.username) }}">个人主页</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">退出</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">登入</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block bodyblock %}
        {% endblock %}
        <div class="footer" style="margin-bottom:0">
        {% block footerblock %}
        {% endblock %}
        </div>
    </div>
</body>

</html>


